html, body{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  height: 100%;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
  url('/static/fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('/static/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/static/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#__nuxt, #__layout, .nuxt-wrapper, .main-container{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
/*---VARIABLES---*/
$green: #9CCB3B;
/*---HEADER---*/
.header-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: 100%;
  height: 89px;
  .logo{
    display: flex;
    align-items: center;
    height: 100%;
  }
  .actions{
    display: flex;
    align-items: center;
    height: 100%;
    .login{
      display: flex;
      align-items: center;
      cursor: pointer;
      &-icon{
        margin-right: 15px;
        i{
          font-size: 16px;
        }
      }
      &-title{
        font-size: 18px;
        line-height: 22px;
      }
    }
    .basket{
      margin-left: 70px;
      cursor: pointer;
      i{
        font-size: 16px;
      }
    }
    .dropdown-container{
      position: relative;
      height: 100%;
      width: 20px;
      justify-content: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      .dropdown{
        left: -118px;
        top: 100%;
        position: absolute;
        width: 236px;
        background: #FFFFFF;
        box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.08);
        border-radius: 0 0 10px 10px;
        z-index: 99;
        &__item{
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          padding: 12.5px;
          i{
            margin-right: 10px;
          }
        }
        &__log-out{
          border-top: 1px solid #C4C4C4;
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          padding: 12.5px;
          i{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
/*---INPUT---*/
.input-search-address{
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 450px;
  width: 100%;
  margin-left: 149px;
  margin-right: auto;
  position: relative;
  input{
    border-color: transparent;
    color: #000000;
    font-size: 18px;
    &:focus, &:hover{
      background-color: #F5F5F5;
      outline: none;
      border-color: transparent;
    }
  }
  .el-input__prefix{
    font-size: 22px;
    color: #000000;
  }
  .results{
    position: absolute;
    top: 64px;
    box-shadow: 2px 6px 20px rgba(119, 119, 119, 0.18);
    border-radius: 5px;
    background-color: white;
    left: 0;
    right: 0 ;
    padding: 10px 14px;
    .item{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
    }
    .item:not(:first-child){
      margin-top: 15px;
    }
  }
}
.input-search{
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 50px;
  input{
    border-color: transparent;
    color: #000000;
    font-size: 18px;
    transition: 0.3s ease all;
    width: 120px;
    &:focus{
      width: 350px;
      background-color: #F5F5F5;
      outline: none;
      border-color: transparent;
    }
    &:hover{
      background-color: #F5F5F5;
      outline: none;
      border-color: transparent;
    }
    &::placeholder{
      color: #000000;
    }
  }
  .el-input__prefix{
    font-size: 22px;
    color: #000000;
  }
}
/*---NAVBAR---*/
.navBar-container{
  background: $green;
  display: flex;
  margin-bottom: 39px;
  .navBar{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    &-links{
      display: flex;
      align-items: center;
      flex-grow: 2;
      overflow: hidden;
    }
    &-all{
      display: flex;
      max-width: 138px;
      width: 100%;
      margin-right: 2px;
    }
    &-more{
      display: flex;
      max-width: 140px;
      width: 100%;
      .el-button{
        background-color: transparent;
        padding: 0;
        border: none;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        max-width: 138px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 2px;
        &:hover{
          background: #FFFFFF;
          border-radius: 5px;
          color: #000000;
        }
      }
    }
  }
  .navBar-item{
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    max-width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s ease all;
    &:hover{
      background: #FFFFFF;
      border-radius: 5px;
      color: #000000;
    }
  }
  .active-link{
    background: #FFFFFF;
    border-radius: 5px;
    color: #000000;
  }
}
/*---DIALOG-LOGIN---*/
.dialog-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  .login{
    background: #FFFFFF;
    border-radius: 10px;
    width: 435px;
    padding: 38px 38px 60px 35px;
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      &-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
      }
      &-close{
        font-size: 18px;
        cursor: pointer;
      }
    }
    .form{
      max-width: 100%;
      width: 100%;
      &__item{
        margin-bottom: 20px;
        &-title{
          font-size: 16px;
          line-height: 19px;
          color: #979797;
          margin-bottom: 20px;
        }
        &-input{
          max-width: 100%;
          width: 100%;
          input{
            max-width: 100%;
            width: 100%;
            background: #F7F7F7;
            border-radius: 10px;
            border: none;
            height: 41px;
            padding: 0 15px;
            &:focus{
              outline: none;
              border: none;
            }
          }
        }
        .el-checkbox{
          display: flex;
          align-items: flex-start;
          .el-checkbox__label{
            white-space: normal;
            color: #979797;
            a{
              color: $green;
              text-decoration: none;
            }
          }
        }
      }
    }
    &-button{
      width: 100%;
      margin-bottom: 33px;
      .el-button{
        width: 100%;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
      }

    }
    .register{
      color: #979797;
      font-size: 18px;
      text-align: center;
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
}
/*---SLIDER---*/
.slider-container{
  background-color: white;
  .slider{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    width: 100%;
    &__header{
      margin-bottom: 39px;
    }
  }
  .hooper-list, .hooper{
    height: 340px;
    background-color: white;
    &:focus, :active{
      border: none;
      outline: none;
    }
  }
  .hooper-track{
    background-color: white;
    &:focus, :active{
      border: none;
      outline: none;
    }
  }
  .slide-wrapper{
    padding: 7.5px;
    background-color: white;
  }
  .slide{
    width: 100%;
    height: 327px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    &__top{
      position: relative;
      height: 246px;
      img{
        width: 100%;
        height: 246px;
      }
      .favorites{
        position: absolute;
        bottom: 19px;
        right: 44px;
        cursor: pointer;
        img{
          height: 28px;
          width: 28px;
        }
      }
    }
    &__bottom{
      padding: 8px 28px 15px 25px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .name{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 10px;
      }
      .row{
        display: flex;
        align-items: center;
      }
      .delivery-price, .delivery-time, .minimal-price{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #2C2C2C;
        display: flex;
        align-items: center;
        background: #F4F4F4;
        border-radius: 4px;
        margin-right: 23px;
        padding: 5px;
        img{
          margin-right: 7px;
        }
      }
    }
    .rate{
      width: 57px;
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #9CCB3B;
      border-radius: 50%;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  .hooper-prev{
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 50%;
    right: 60px;
    left: auto;
    top: -39px;
    &:focus, :active{
      border: none;
      outline: none;
    }
  }
  .hooper-next{
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 50%;
    right: 0;
    left: auto;
    top: -39px;
    &:focus, :active{
      border: none;
      outline: none;
    }
  }
}
